body {
    background-color: #cccccc;
    font-family: sans-serif;
        margin: 0;
    
}

h1{
    background-color: #009999;
    color: white;
    text-align: center;
    
}

header {
    position: fixed;
    background-color: #009999;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 10px;
    
}

aside {
    position: fixed;
    background-color: #ccccff;
    top: 90px;
    left: 0;
    width: 20%;
    bottom: 20px;
    padding: 10px;
    
}

section {
    position: fixed;
    background-color: #cccccc;
    overflow-y: scroll;
    top: 90px;
    left: 20%;
    width: 80%;
    bottom: 20px;
    padding: 10px;
    
}

footer {
    position: fixed;
    background-color: black;
    color: white;
    text-align: center;
    left: 0%;
    width: 100%;
    bottom: 0;
    height: 20px;
    
}

.navegacion {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

.nav-link{
    color: white;
    text-decoration: none;
    
}

.logo{
    font-size: 32px;
    font-weight: bold;
    font-family: cursive;
    padding: 0 40px;
    line-height: 90px;
    
    
}

.nav-menu{
    font-size: 18px;
    margin-right: 40px;
    display: flex;
    list-style: none;
    
}

.nav-menu-item{
    margin: 0 10px;
    line-height: 90px;
}

.nav-menu-link{
    background-color: #0070bc;
    padding: 10px;
    border-radius: 10px;   
}

.nav-menu-link:hover{
    background-color: black;
  
}